body {
  --primary-text-color: black;
  --secondary-text-color: #7f7f7f;
  --active-text-color: #2f95dc;

  --background-color: #f2f2f2;
  --header-background-color: white;

  --red-color: #dc3545;
  --orange-color: orange;
  --green-color: #28a745;
  --white-color: white;
  --active-color: #2f95dc;

  --hover-background-color: #eff4f9;

  --border-color: #d8d8d8;
}

body.dark-mode {
  --primary-text-color: white;
  --secondary-text-color: #7f7f7f;
  --active-text-color: white;

  --background-color: black;
  --header-background-color: #121212;

  --red-color: #dc3545;
  --orange-color: orange;
  --green-color: #28a745;
  --white-color: white;
  --active-color: #2f95dc;

  --hover-background-color: #1b1b1c;

  --border-color: #272729;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--active-color);
}

.hidden {
  display: none;
}

.text-ellipsis,
.text-ellipsis-all {
  text-align: left;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.text-ellipsis-all {
  word-break: break-all;
}

/* Position */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* Flex */
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-grow {
  flex-grow: 1;
}
.flex-grow-0 {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-1 {
  flex: 1;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}

/* Align items */
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-stretch {
  align-items: stretch;
}

/* Justify content */
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}

/* Align self */
.self-start {
  align-self: flex-start;
}
.self-end {
  align-self: flex-end;
}
.self-center {
  align-self: center;
}
.self-stretch {
  align-self: stretch;
}
.self-baseline {
  align-self: baseline;
}

/* Grid */
.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Width, height */
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

/* Gap */
.gap-0\.25 {
  gap: 0.25rem;
}
.gap-0\.5 {
  gap: 0.5rem;
}
.gap-1 {
  gap: 1rem;
}

/* Padding */
.p-0\.5 {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}

/* Padding x-axis */
.px-0\.5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Padding y-axis */
.py-0\.5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.pb-1,
.py-1 {
  padding-bottom: 1rem;
}
.pt-1,
.py-1 {
  padding-top: 1rem;
}

/* Margin */
.m-0,
.my-0,
.mt-0 {
  margin-top: 0;
}
.m-0\.5,
.my-0\.5,
.mt-0\.5 {
  margin-top: 0.5rem;
}
.m-1,
.my-1,
.mt-1 {
  margin-top: 1rem;
}
.m-2,
.my-2,
.mt-2 {
  margin-top: 2rem;
}

.m-0,
.my-0,
.mb-0 {
  margin-bottom: 0;
}
.m-0\.5,
.my-0\.5,
.mb-0\.5 {
  margin-bottom: 0.5rem;
}
.m-1,
.my-1,
.mb-1 {
  margin-bottom: 1rem;
}
.m-2,
.my-2,
.mb-2 {
  margin-bottom: 2rem;
}

.m-0,
.mx-0,
.ml-0 {
  margin-left: 0;
}
.m-0\.5,
.mx-0\.5,
.ml-0\.5 {
  margin-left: 0.5rem;
}
.m-1,
.mx-1,
.ml-1 {
  margin-left: 1rem;
}
.m-2,
.mx-2,
.ml-2 {
  margin-left: 2rem;
}

.m-0,
.mx-0,
.mr-0 {
  margin-right: 0;
}
.m-0\.5,
.mx-0\.5,
.mr-0\.5 {
  margin-right: 0.5rem;
}
.m-1,
.mx-1,
.mr-1 {
  margin-right: 1rem;
}
.m-2,
.mx-2,
.mr-2 {
  margin-right: 2rem;
}

/* Cursor */
.cursor-pointer {
  cursor: pointer;
}

/* Text decoration */
.text-decoration-none {
  text-decoration: none;
}
.text-underline {
  text-decoration: underline;
}

/* Text align */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* Font-weight */
.font-normal {
  font-weight: normal;
}
.font-bold {
  font-weight: bold;
}
