body {
  --primary-text-color: black;
  --secondary-text-color: #7f7f7f;
  --active-text-color: #2f95dc;

  --background-color: #f2f2f2;
  --header-background-color: white;

  --red-color: #dc3545;
  --green-color: #28a745;
  --white-color: white;
  --active-color: #2f95dc;

  --hover-background-color: #eff4f9;

  --border-color: #d8d8d8;
}

body.dark-mode {
  --primary-text-color: white;
  --secondary-text-color: #7f7f7f;
  --active-text-color: white;

  --background-color: black;
  --header-background-color: #121212;

  --red-color: #dc3545;
  --green-color: #28a745;
  --white-color: white;
  --active-color: #2f95dc;

  --hover-background-color: #1b1b1c;

  --border-color: #272729;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--active-color);
}

.hidden {
  display: none;
}

/* Flex */
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-grow {
  flex-grow: 1;
}
.flex-grow-0 {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-1 {
  flex: 1
}

/* Align items */
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-stretch {
  align-items: stretch;
}

/* Justify content */
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

/* Width, height */
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

/* Gap */
.gap-0\.5 {
  gap: 0.5rem;
}
.gap-1 {
  gap: 1rem;
}

/* Padding */
.p-0\.5 {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}

/* Padding x-axis */
.px-0\.5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Padding y-axis */
.py-0\.5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Cursor */
.cursor-pointer {
  cursor: pointer;
}